{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - APP de turnos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" integrity="sha512-LT9fy1J8pE4Cy6ijbg96UkExgOjCqcxAC7xsnv+mLJxSvftGVmmc236jlPTZXPcBRQcVOWoK1IJhb1dAjtb4lQ==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.min.js" integrity="sha512-t2ZIJH81Sh+SWSb4BuA9en4j6fwja+sYOEXbqoepD9lJ+efUGD94gSWqdmgQchGmPez2ojECq4Fm6bKMUAzIiQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js" integrity="sha512-s5u/JBtkPg+Ff2WEr49/cJsod95UgLHbC00N/GglqdQuLnYhALncz8ZHiW/LxDRGduijLKzeYb7Aal9h3codZA==" crossorigin="anonymous"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="979995675320-ssm48s9m7at53t7ta9pm4rg4kkkbtfs8.apps.googleusercontent.com">
    </head>
    <body>
    <div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-ligth bg-light " >
            <a class="navbar-brand" href="#">KINETUR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href='/'>Inicio</a>
                    {{if .AuthenticatedUser}}
                        <form action='/user/logout' method='POST'>
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <a class="nav-link" href="/user/logout">Cerrar Sesion ({{.AuthenticatedUser.Nombres}})</a>
                        <a href="/user/logout" onclick="signOut();">Sign out</a>
                        </form>
                    {{else}}
                        <a class="nav-link" href="/user/signup">Registrarse</a>
                        <a class="nav-link" href="/user/login">Iniciar Sesion</a>
                    {{end}}
                    {{if .AuthenticatedUser}}
                        <a class="nav-link" href="/user/turno">Turnos</a>
                    {{end}}
                </div>
            </div>
        </nav>
    </header>



    <section>
        {{with .Flash}}
        <div class='flash '>{{.}}</div>
        {{end}}
        {{template "body" .}}
    </section>
    <!-- Invoke the footer template -->
    {{template "footer" .}}
    </div>
    </body>
    <script>
            $( function() {
            $('#slider_example_2').datetimepicker({
                timeInput: true,
                controlType: 'select',
            	oneLine: true,
            	timeFormat: 'HH:mm',
            	stepHour: 1,
            	stepMinute: 30,
            	hourMin: 8,
                hourMax: 19
            	});
            });

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
    </html>
{{end}}