{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
    <div class="container">
        <div class="container-lg align-self-auto">
            <div class="row align-items-stretch " style="margin-top: 20px">
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card  text-center" style="width: 18rem; border: none">
                        <img class="card-img-top" src="/static/img/trat-traumatologia.jpg"  alt="Traumatologia">
                        <div class="card-body">
                            <h5 class="card-title">Traumatología</h5>
                            <p class="card-text text-info" >Nuestro equipo de Kinesiólogos trabaja para brindar una
                                atención integral y personalizada en las áreas de Kinesiología y Fisioterapia.</p>
                        </div>
                        <div class="card-footer"style="border: none; background-color: white">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card text-center" style="width: 18rem;border: none">
                        <img src="/static/img/trat-estetica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Estética Corporal</h5>
                            <p class="card-text text-info">Le ofrecemos lo mejor en aparatología para estética corporal.
                                Consulte por nuestra línea de equipamiento.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-ktape.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">K-Taping</h5>
                            <p class="card-text text-info">Los conceptos de inmovilización rígida y reposo han ido
                                transformándose en lo que hoy se conoce como tratamiento funcional de las lesiones.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-tecnicas-preventivas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Técnicas Preventivas Globales</h5>
                            <p class="card-text text-info">Las Técnicas Preventivas Globales constituyen una propuesta
                                que tiene como objetivo adaptar y/o lograr nuevas conductas del adulto mayor</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch" style="margin-top: 20px">
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card text-center"  style="width: 18rem;">
                        <img src="/static/img/trat-acupuntura.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Acupuntura</h5>
                            <p class="card-text text-info">La acupuntura (del latín acus, aguja y pungere, punción) es
                                una técnica proveniente de la medicina tradicional china</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-mep.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">MEP</h5>
                            <p class="card-text text-info">Las sigla MEP® proviene de las palabras Microelectrólisis Percutánea.
                                Es una técnica, mínimamente invasiva, que a través de una aguja</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-drenaje.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Drenaje Linfático Manual</h5>
                            <p class="card-text text-info">A veces, por motivos distintos- cirugía por cáncer mamario o
                                uterino, radioterapia, insuficiencia venosa- se acumula líquido en alguna</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-reeducacion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Reeducación Postural</h5>
                            <p class="card-text text-info">La Reeducación Postural Global, denominada RPG es un método científico
                                de evaluación, diagnóstico y tratamiento de patologías que afectan al sistema locomotor.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}