{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
    <div class="container">
    <h2>Estoy probando</h2>
    <p>Todavia no hago nada :( solo me muevo entre los templates</p>
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-4">
                    <div class="card  text-center" style="width: 18rem;">
                        <img src="/static/img/trat-traumatologia.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Traumatologia</h5>
                            <p class="card-text">Nuestro equipo de Kinesiólogos trabaja para brindar una atención integral y personalizada en las áreas de Kinesiología y Fisioterapia.</p>
                            <a href="/login" class="btn btn-primary ">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-estetica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Estetica Corporal</h5>
                            <p class="card-text">Le ofrecemos lo mejor en aparatología para estética corporal. Consulte por nuestra línea de equipamiento.</p>
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-ktape.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">CTratamiento</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-tecnicas-preventivas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tratamiento</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-4">
                    <div class="card text-center"  style="width: 18rem;">
                        <img src="/static/img/trat-acupuntura.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tratamiento</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-mep.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tratamiento</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-drenaje.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tratamiento</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="/static/img/trat-reeducacion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tratamiento</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Pedi Turno</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}