{{template "base" .}}
{{define "title"}}Log in{{end}}
{{define "body"}}
    <h2>Estoy probando</h2>
    <p>Todavia no hago nada con la sesion :(</p>
    <p>DB?</p>
    <p>Date: <input type="text" id="datepicker"></p>
{{end}}