{{template "base" .}}
{{define "title"}}Usuarios {{end}}
{{define "body"}}
<div>
{{if .Usuarios}}
    <table>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        {{range .Usuarios}}
        <tr>
            <th>{{.id}}</th>
            <th>{{.dni}}</th>
            <th>{{.Nombre}}</th>
            <th>{{.Apellido}}</th>
        </tr>
{{end}}
    </table>
{{else}}
<p> no paso nada</p>
{{end}}
</div>
{{end}}