{{template "base" .}}
{{define "title"}}Registrarse{{end}}
{{define "body"}}
<form action='/user/signup' method='POST' novalidate>
<!-- Include the CSRF token -->
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
    <table>
       <tr>
            <td> <label>DNI:</label></td>
            {{with .Errors.Get "DNI"}}
            <td><label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='text' name='dni' value='{{.Get "DNI"}}'></td>
            </tr>
        <tr>
            <td><label>Nombres:</label></td>
            {{with .Errors.Get "nombres"}}
            <td><label class='error'>{{.}}</label></td>
            {{end}}
            <td><input type='text' name='nombres' value='{{.Get "nombres"}}'></td>
        </tr>
        <tr>
            <td> <label>Apellidos:</label></td>
            {{with .Errors.Get "apellidos"}}
            <td>     <label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='text' name='apellidos' value='{{.Get "apellidos"}}'></td>
        </tr>

        <tr>
            <td>  <label>Direccion:</label></td>
            {{with .Errors.Get "direccion"}}
            <td> <label class='error'>{{.}}</label></td>
            {{end}}
            <td> <input type='text' name='direccion' value='{{.Get "direccion"}}'></td>
        </tr>
        <tr>
            <td>  <label>Email:</label></td>
            {{with .Errors.Get "email"}}
            <td> <label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='email' name='email' value='{{.Get "email"}}'></td>
        </tr>
        <tr>
            <td>    <label>Password:</label></td>
            {{with .Errors.Get "password"}}
            <td>  <label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='password' name='password'></td>
        </tr>
    </table>
    <div>
        <input type='submit' value='Registrarse'>
    </div>
    {{end}}
</form>
{{end}}