{{template "base" .}}
{{define "title"}}Registrarse{{end}}
{{define "body"}}
<form action='/user/signup' method='POST' novalidate>
<!-- Include the CSRF token -->
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
    <table>
        <tr>
            <td> <label>Tipo:</label></td>
                {{with .Errors.Get "tipo"}}
                <td><label class='error'>{{.}}</label></td>
                {{end}}
            <td>  <input type='text' name='tipo' value='{{.Get "tipo"}}'></td>
        </tr>
        <tr>
            <td><label>Nombre:</label></td>
            {{with .Errors.Get "nombre"}}
            <td><label class='error'>{{.}}</label></td>
            {{end}}
            <td><input type='text' name='nombre' value='{{.Get "nombre"}}'></td>
        </tr>
        <tr>
            <td> <label>Apellido:</label></td>
            {{with .Errors.Get "apellido"}}
            <td>     <label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='text' name='apellido' value='{{.Get "apellido"}}'></td>
        </tr>
        <tr>
            <td> <label>DNI:</label></td>
            {{with .Errors.Get "dni"}}
            <td><label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='text' name='dni' value='{{.Get "dni"}}'></td>
        </tr>
        <tr>
            <td>  <label>Domicilio:</label></td>
            {{with .Errors.Get "domicilio"}}
            <td> <label class='error'>{{.}}</label></td>
            {{end}}
            <td> <input type='text' name='domicilio' value='{{.Get "domicilio"}}'></td>
        </tr>
        <tr>
            <td>  <label>Email:</label></td>
            {{with .Errors.Get "email"}}
            <td> <label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='email' name='email' value='{{.Get "email"}}'></td>
        </tr>
        <tr>
            <td>    <label>Password:</label></td>
            {{with .Errors.Get "password"}}
            <td>  <label class='error'>{{.}}</label></td>
            {{end}}
            <td>  <input type='password' name='password'></td>
        </tr>
    </table>
    <div>
        <input type='submit' value='Registrarse'>
    </div>
    {{end}}
</form>
{{end}}