{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
<form action='/user/turno' method='POST' novalidate>
    <!-- incluyo CSRFtoken -->
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
                {{with .Errors.Get "generic"}}
                    <div class='error'>{{.}}</div>
                {{end}}


        <div class="container">
        <div class="container-lg align-self-auto">
            <p>Lista de turnos disponibles </p>
            <label for="fecha">Fecha*</label>
           <label for="party">Selecciones dia y horario de atencion:</label>
           <input id="party" type="datetime-local" name="turnofecha" value='{{.Get "fecha"}}'  >
        <div>
            <input type='submit' value='Agendar Turno'>
        </div>

        </div>
    </div>
{{end}}
    </form>
{{end}}