{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
<form action='/user/turno' method='POST' novalidate>
    <!-- incluyo CSRFtoken -->
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
                {{with .Errors.Get "generic"}}
                    <div class='error'>{{.}}</div>
                {{end}}


        <div class="container">
        <div class="container-lg align-self-auto">
            <p>Lista de turnos disponibles </p>
            <label for="fecha">Fecha*</label>
            <input type="text" name="slider_example_2" id="slider_example_2" class="text ui-widget-content ui-corner-all" value='{{.Get "slider_example_2"}}'/>
        <div>
            <input type='submit' value='Agendar Turno'>
        </div>

        </div>
    </div>
{{end}}
    </form>
{{end}}